<% provide(:title, 'Edit Group') %>

<div class="row">
  <div class="span6 offset3">
		<%= form_for(@group) do |f| %>
		
			<%= f.label :name %>
      		<%= f.text_field :name %>
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

<%= link_to 'Back', groups_path %>