<% provide(:title, 'New group') %>
<h1>New group created by <%= @current_user.name %></h1>

<div class="row">
 <div class="span6 offset3">
   <%= form_for(@group) do |f| %>
     
	<%= f.label :description %>
	<%= f.text_field :description %>
      
	<%= f.submit "Create group", class: "btn btn-large btn-primary" %>
<% end %>
	</div>
</div>