<p id="notice"><%= notice %></p>

<p>
  <strong>Codificacion:</strong>
  <%= @plan_cuentum.codificacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @plan_cuentum.descripcion %>
</p>

<%= link_to 'Edit', edit_plan_cuentum_path(@plan_cuentum) %> |
<%= link_to 'Back', plan_cuenta_path %>
