<% provide(:title, 'All dailies') %>
<h1>All dailies on <%= @current_user.company_name %></h1>

<ul class="dailies">
  <% @dailies.each do |daily| %>
    
    <li>
      <%= link_to "Date: #{daily.date}", dates_index_daily_path(daily) %>
    </li>
    <li>
      <%= link_to "Account name: #{daily.account_name}", accounts_index_daily_path(daily) %>
    </li>
    <li>
      <%= link_to "Glosa: #{daily.glosa}", glosas_index_daily_path(daily) %>
    </li>
    <li>
      <%= link_to "Exchange: #{daily.exchange}", exchanges_index_daily_path(daily) %>
    </li>
    <li style="color:purple">
      Debe: <%= daily.debe %>
    </li>
    <li style="color:green">
      Haber <%= daily.haber %>
    </li>
    <% case daily.tran_type%>
    	<% when 1%>
    	<li>
      		<%= link_to "Transaction Type: Debito", transactions_index_daily_path(daily) %>
    	</li>
    	<%when 2%>
    	<li>
      		<%= link_to "Transaction Type: Credito", transactions_index_daily_path(daily) %>
    	</li>
    	<%when 3%>
    	<li>
      		<%= link_to "Transaction Type: Activo", transactions_index_daily_path(daily) %>
    	</li>
    	<%else%>
    	<li>
      		<%= link_to "Transaction Type: Pasivo", transactions_index_daily_path(daily) %>
    	</li>
    <%end%>
    <% if daily.obsolete != true %>
    	<li>
    		<%= link_to 'Make obsolete', edit_daily_path(daily)%>
    	</li>
    <% else %>
    	<li style = "color:red"> OBSOLETE </li>
    <%end%>
    <br>
  <% end %>
</ul>