<% provide(:title, 'Make Daily Obsolete') %>

<li style="color:black">
Glosa: <%= @daily.glosa %>
</li>
<br>
<li style="color:black">
Exchange: <%= @daily.exchange %>
</li>
<br>
<li style="color:black">
Debe: <%= @daily.debe %>
</li>
<br>
<li style="color:black">
Haber: <%= @daily.haber %>
</li>
<br>
<li style="color:black">
Company: <%= @daily.company_name %>
</li>
<br>
<li style="color:black">
Account: <%= @daily.account_name %>
</li>
<br>
<div class="row">
  <div class="span6 offset3">
		<%= form_for(@daily) do |f| %>
		
			<%= f.label :obsolete %>
      		<%= f.check_box :obsolete %>
		<br>
		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

<%= link_to 'Back', dailies_path %>