<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "trecarga", root_path, id: "logo" %>
      <% if signed_in? %>
      <nav>
        <ul class="nav">
            <li id="fat-menu" class="nav pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
                Navigation <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              	<li><%= link_to "Home", root_path %></li>
              	<li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
 				<% if current_user.name=='admin'%>       
 					<li><%= link_to "Create Company", new_company_path %></li>
 				<% end %>      
              </ul>
            </li>
            <li id="daily_options" class="nav pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
                Dailies <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              	<li><%= link_to "New", new_daily_path %></li>
              	<li><%= link_to "List", dailies_path %></li>
 				<% if current_user.name=='admin'%>       
 				<% end %>      
              </ul>
            </li>
            <li id="account_options" class="nav pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
                Accounts <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              	<li><%= link_to "New", new_account_path %></li>
              	<li><%= link_to "List", accounts_path %></li>
 				<% if current_user.name=='admin'%>       
 				<% end %>      
              </ul>
            </li>
            <li id="group_options" class="nav pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">
                Groups <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              	<li><%= link_to "New", new_group_path %></li>
              	<li><%= link_to "List", groups_path %></li>
 				<% if current_user.name=='admin'%>       
 				<% end %>      
              </ul>
            </li>
            
        </ul>
      </nav>
    <% else %>
    	<nav >
    		<ul class="nav pull-right" >
       			<li style="background:white" ><%= link_to "Sign in", signin_path %></li>
       		</ul>
       </nav>
    <% end %>
    </div>
  </div>
</header>
