<% provide(:title, 'All accounts') %>
<h1>All accounts on <%= @current_user.company_name %></h1>

<ul class="accounts">
  <% @accounts.each do |account| %>
    <li style="color:blue">
      Name: <%= account.name %>
    </li>
    <li style="color:black">
      Group: <%= account.group_name%>
    </li>
    <li style="color:blue">
      Description: <%= account.description%>
    </li>
    <li>
      <%= link_to 'Edit', edit_account_path(account)%>
    </li>
    <li>
      <%= link_to 'Delete', account, method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
   <br> 
  <% end %>
</ul>